.type_level_s {
    padding-left: 20px;
    background: url(http://images.wonaruto.com/s/1/picto-m-s.png) no-repeat 5px 50%;
}

.type_level_a {
    padding-left: 20px;
    background: url(http://images.wonaruto.com/s/1/picto-m-a.png) no-repeat 5px 50%;
}

.type_level_b {
    padding-left: 20px;
    background: url(http://images.wonaruto.com/s/1/picto-m-b.png) no-repeat 5px 50%;
}

.type_level_c {
    padding-left: 20px;
    background: url(http://images.wonaruto.com/s/1/picto-m-c.png) no-repeat 5px 50%;
}

.type_level_d {
    padding-left: 20px;
    background: url(http://images.wonaruto.com/s/1/picto-m-d.png) no-repeat 5px 50%;
}

.type_level_e {
    padding-left: 20px;
    background: url(http://images.wonaruto.com/s/1/picto-m-e.png) no-repeat 5px 50%;
}